#bottom { 
	position: fixed;
	bottom: 2%;
}

div.to_be_centered {
	height: 10em;
	position: relative 
}

div.to_be_centered a {
	color: black;
	vertical-align: middle;
	text-decoration: none;
	font-size: 3em;
	margin: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	font-family : 'Lato', sans-serif;
	transform: translate(-50%, -50%); 
}

a {
	/*text-decoration: none;*/
	color: black;
}

#abstract {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: grey;
}

a:hover {
	color: grey;
}

div.to_be_centered a:hover {
	color: grey;
	/*text-decoration: underline;*/
}

p {
	font-family : 'Roboto', 'Lato', sans-serif;
}
